.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  align-items: center;
}

.screen-header__icons {
  display: flex;
  align-items: center;
}

.screen-header__icons span {
  text-align: center;
  margin-left: 25px;
}

.screen-header__icons span:last-child {
  position: relative;
}

.screen-header__icons span:last-child .nav__dot {
  left: -3px;
  bottom: 20px;
}
